.list-item {
  width: 100%;
}

.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-title button {
  background-color: #e85559;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  margin-right: 100px;
  font-weight: bold;
  cursor: pointer;
}

.group {
  width: 100%;
  border: #929baa 1px solid;
  margin-top: 30px;
}

.group .group-name {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #929baa;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.group-student {
  padding-left: 80px;
  display: flex;
  justify-content: left;
  flex-flow: wrap;
  align-items: center;
}
/* TODO GTB-知识点：- 颜色值建议用_variable里面定义的变量 */
