.App {
  width: 80%;
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 40px;
}

.list-item {
  width: 100%;
}

.students {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-title button {
  background-color: #e85559;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  margin-right: 100px;
  font-weight: bold;
}
