.list-item {
  width: 100%;
}

.students {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.student {
  width: 6%;
  min-width: 100px;
  height: 45px;
  margin: 20px 40px;
  background-color: #eeeeee;
  text-align: center;
  font-weight: bold;
}

.add-student-button {
  background-color: none;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
}

.add-student-input {
  background-color: none;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
