.student {
  width: 6%;
  min-width: 100px;
  height: 45px;
  margin: 20px 40px;
  background-color: #eeeeee;
  text-align: center;
  font-weight: bold;
}

.add-student-button {
  background-color: none;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
}

.add-student-input {
  background-color: none;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
